.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    gap: 5px;

}

.App img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-bottom: 1%;
}

.showHidebtn {
    background-color: rgb(24, 23, 23);
    color: wheat;
    width: 18%;
    font-size: 17px;
    justify-content: center;
}

.showHidebtn .icons {
    margin-top: 4px;
}

.showHidebtn:hover {
    box-shadow: 0 12px 16px 0 rgba(219, 84, 84, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logInBtn {
    width: 100%;
    background-color: rgb(24, 23, 23);
    color: wheat;
}

.logInBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(219, 84, 84, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 470px) {
    .App {
        max-width: 96%;
    }

}

@media screen and (max-width: 820px) {
    .App {
        max-width: 96%;
    }

}

.inputNbutton {
    display: flex;
    flex-direction: row;
    gap: 3px;

}

.passwordInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}